.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .customBg{
    background-color: #f76440!important;
}
body > div > div.content-wrapper > div > div.content-header > div > div > div:nth-child(2) > ul > li:nth-child(1) > a{
    color: #f76440!important;
}
.icheck-primary{
    color: #f76440!important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
.uneditable-input:focus{
    border-color: #f76440;
    box-shadow: #f76440;
    outline: 0 none;
}
#status:focus{
    border-color: #f76440 !important;
}

.customColor, ol > li:nth-child(1) > a{
    color: #f76440!important;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection,  .select2-container--bootstrap4.select2-container .select2-selection{

    /*background-color: #f76440 !important;*/
    -webkit-box-shadow: #f76440 !important;
    -moz-box-shadow: #f76440 !important;

    box-shadow: #f76440 !important;
    /*border-color: #f76440 !important;*/
    color: #f76440 !important;
    /*border: 1px solid #f76440 !important;*/
}



     /*!
* Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
* Copyright 2015 Daniel Cardoso <@DanielCardoso>
* Licensed under MIT
*/
 .la-ball-spin,
 .la-ball-spin > div {
     position: relative;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
.la-ball-spin {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-spin.la-dark {
    color: #333;
}
.la-ball-spin > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-spin {
    width: 32px;
    height: 32px;
}
.la-ball-spin > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 100%;
    -webkit-animation: ball-spin 1s infinite ease-in-out;
    -moz-animation: ball-spin 1s infinite ease-in-out;
    -o-animation: ball-spin 1s infinite ease-in-out;
    animation: ball-spin 1s infinite ease-in-out;
}
.la-ball-spin > div:nth-child(1) {
    top: 5%;
    left: 50%;
    -webkit-animation-delay: -1.125s;
    -moz-animation-delay: -1.125s;
    -o-animation-delay: -1.125s;
    animation-delay: -1.125s;
}
.la-ball-spin > div:nth-child(2) {
    top: 18.1801948466%;
    left: 81.8198051534%;
    -webkit-animation-delay: -1.25s;
    -moz-animation-delay: -1.25s;
    -o-animation-delay: -1.25s;
    animation-delay: -1.25s;
}
.la-ball-spin > div:nth-child(3) {
    top: 50%;
    left: 95%;
    -webkit-animation-delay: -1.375s;
    -moz-animation-delay: -1.375s;
    -o-animation-delay: -1.375s;
    animation-delay: -1.375s;
}
.la-ball-spin > div:nth-child(4) {
    top: 81.8198051534%;
    left: 81.8198051534%;
    -webkit-animation-delay: -1.5s;
    -moz-animation-delay: -1.5s;
    -o-animation-delay: -1.5s;
    animation-delay: -1.5s;
}
.la-ball-spin > div:nth-child(5) {
    top: 94.9999999966%;
    left: 50.0000000005%;
    -webkit-animation-delay: -1.625s;
    -moz-animation-delay: -1.625s;
    -o-animation-delay: -1.625s;
    animation-delay: -1.625s;
}
.la-ball-spin > div:nth-child(6) {
    top: 81.8198046966%;
    left: 18.1801949248%;
    -webkit-animation-delay: -1.75s;
    -moz-animation-delay: -1.75s;
    -o-animation-delay: -1.75s;
    animation-delay: -1.75s;
}
.la-ball-spin > div:nth-child(7) {
    top: 49.9999750815%;
    left: 5.0000051215%;
    -webkit-animation-delay: -1.875s;
    -moz-animation-delay: -1.875s;
    -o-animation-delay: -1.875s;
    animation-delay: -1.875s;
}
.la-ball-spin > div:nth-child(8) {
    top: 18.179464974%;
    left: 18.1803700518%;
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}
.la-ball-spin.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-spin.la-sm > div {
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
}
.la-ball-spin.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-spin.la-2x > div {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
}
.la-ball-spin.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-spin.la-3x > div {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-spin {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@-moz-keyframes ball-spin {
    0%,
    100% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}
@-o-keyframes ball-spin {
    0%,
    100% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}
@keyframes ball-spin {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
}


/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-clip-rotate-multiple,
.la-ball-clip-rotate-multiple > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.la-ball-clip-rotate-multiple {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-clip-rotate-multiple.la-dark {
    color: #333;
}
.la-ball-clip-rotate-multiple > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-clip-rotate-multiple {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate-multiple > div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    -moz-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    -o-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
}
.la-ball-clip-rotate-multiple > div:first-child {
    position: absolute;
    width: 32px;
    height: 32px;
    border-right-color: transparent;
    border-left-color: transparent;
}
.la-ball-clip-rotate-multiple > div:last-child {
    width: 16px;
    height: 16px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}
.la-ball-clip-rotate-multiple.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate-multiple.la-sm > div {
    border-width: 1px;
}
.la-ball-clip-rotate-multiple.la-sm > div:first-child {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate-multiple.la-sm > div:last-child {
    width: 8px;
    height: 8px;
}
.la-ball-clip-rotate-multiple.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate-multiple.la-2x > div {
    border-width: 4px;
}
.la-ball-clip-rotate-multiple.la-2x > div:first-child {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate-multiple.la-2x > div:last-child {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate-multiple.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate-multiple.la-3x > div {
    border-width: 6px;
}
.la-ball-clip-rotate-multiple.la-3x > div:first-child {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate-multiple.la-3x > div:last-child {
    width: 48px;
    height: 48px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-line-scale,
.la-line-scale > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.la-line-scale {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-line-scale.la-dark {
    color: #333;
}
.la-line-scale > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-line-scale {
    width: 40px;
    height: 32px;
}
.la-line-scale > div {
    width: 4px;
    height: 32px;
    margin: 2px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-animation: line-scale 1.2s infinite ease;
    -moz-animation: line-scale 1.2s infinite ease;
    -o-animation: line-scale 1.2s infinite ease;
    animation: line-scale 1.2s infinite ease;
}
.la-line-scale > div:nth-child(1) {
    -webkit-animation-delay: -1.2s;
    -moz-animation-delay: -1.2s;
    -o-animation-delay: -1.2s;
    animation-delay: -1.2s;
}
.la-line-scale > div:nth-child(2) {
    -webkit-animation-delay: -1.1s;
    -moz-animation-delay: -1.1s;
    -o-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.la-line-scale > div:nth-child(3) {
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    -o-animation-delay: -1s;
    animation-delay: -1s;
}
.la-line-scale > div:nth-child(4) {
    -webkit-animation-delay: -.9s;
    -moz-animation-delay: -.9s;
    -o-animation-delay: -.9s;
    animation-delay: -.9s;
}
.la-line-scale > div:nth-child(5) {
    -webkit-animation-delay: -.8s;
    -moz-animation-delay: -.8s;
    -o-animation-delay: -.8s;
    animation-delay: -.8s;
}
.la-line-scale.la-sm {
    width: 20px;
    height: 16px;
}
.la-line-scale.la-sm > div {
    width: 2px;
    height: 16px;
    margin: 1px;
    margin-top: 0;
    margin-bottom: 0;
}
.la-line-scale.la-2x {
    width: 80px;
    height: 64px;
}
.la-line-scale.la-2x > div {
    width: 8px;
    height: 64px;
    margin: 4px;
    margin-top: 0;
    margin-bottom: 0;
}
.la-line-scale.la-3x {
    width: 120px;
    height: 96px;
}
.la-line-scale.la-3x > div {
    width: 12px;
    height: 96px;
    margin: 6px;
    margin-top: 0;
    margin-bottom: 0;
}
/*
 * Animation
 */
@-webkit-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
        transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-moz-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
        -moz-transform: scaleY(.4);
        transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-o-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
        -o-transform: scaleY(.4);
        transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
        -moz-transform: scaleY(.4);
        -o-transform: scaleY(.4);
        transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }
}

 a:hover{
    color: #f76440!important;
}
.active:hover{
    color: white!important;
}
